<div class="card text-center mt-4" style="width: 18rem;">
  <%= image_tag(@topic.image, style: "width:100%")%>
  <div class="text-left card-body">
    <h5 class="card-title"><%= @topic.title%></h5>
    <p class="card-text"> <%= @topic.description%></p>
    <%= link_to "Go back", root_path, class: "text-left btn btn-primary mt-2" %>
  </div>
</div>
